:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
	--blue: #3498db;
--green: #2ecc71;
--yellow: #f1c40f;
--orange: #e67e22;
--red: #e74c3c;
--o: #7f527b;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira Sans", Arial, sans-serif;
}

body {
	background: #03001e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: red;
	background-color: var(--light);
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 500;
	background-image: linear-gradient(to left, var(--light), var(--light), var(--light));
	/* Apply background clip to text */
	-webkit-background-clip: text;
	/* Set the transparent text color to see the gradient */
	color: transparent;	margin-bottom: 1rem;
	display: inline-block; /* To make the text-align property work */
    text-align: left; 
}

#new-task-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: var(--grey);
}

#new-task-submit {
	color: var(--red);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--light), var(--light),  var(--light));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}
#new-task-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task1-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#new-task1-input::placeholder {
	color: var(--grey);
}

#new-task1-submit {
	color: var(--red);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--light), var(--light));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#new-task1-submit:hover {
	opacity: 0.8;
}

#new-task1-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}
.song-info {
    color: white;
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.45rem;
}
.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--darkest);
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--pink);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--light), var(--light), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	color: crimson;
}
#artist-name-input {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
    border: none; /* Remove border */
    outline: none; /* Remove outline */
}

#artist-name-input::placeholder {
    color: var(--grey);
}

#new-artist-submit {
    color: var(--light);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--light), var(--light));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
    border: none; /* Remove border */
    outline: none; /* Remove outline */
}

#new-artist-submit:hover {
    opacity: 0.8;
}

#new-artist-submit:active {
    opacity: 0.6;
}
.timestamp {
	color: var(--red);
    font-size: 1rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--light), var(--light));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
   
	padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    /* Your CSS styles for the timestamp element */
    
    /* ... other styles ... */
}
